dvc-gdrive
torch
torchaudio
torchmetrics
torchvision
hydra-colorlog
hydra-core
hydra-optuna-sweeper
tensorboard
tensorboardX
timm==0.4.12
autoroot
autorootcwd
ipykernel
lightning
pytorch-lightning
matplotlib
opencv-python
opencv-python-headless
Pillow==9.5.0
soundfile
pyrootutils
