--index-url https://pypi.org/simple
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.1.0+cu118
torchvision==0.16.0+cu118
torchaudio==2.1.0+cu118

# --index-url https://pypi.org/simple
# --extra-index-url https://download.pytorch.org/whl/cu116
# torch==1.12.1+cu116
# torchvision==0.13.1+cu116
# torchaudio==0.12.1 --extra-index-url https://download.pytorch.org/whl/cu116

# Basic Packages
lightning>=2.0.8
mlflow==2.8.0
pydantic<2.0,>=1.7.4
SQLAlchemy==1.4.49
aim<4.0.0
pre-commit
dvc
dvc-gdrive
# dvc[s3]
rich
hydra-core
hydra-colorlog
hydra-optuna-sweeper
opencv-contrib-python
matplotlib
rasterio
pyrootutils
shapely
rootutils
tensorboard
tensorboardX
wandb
fire
pytest
autorootcwd
sh
ipykernel
ipywidgets

# Captcha Resolver Dependencies
wget
timm==0.4.12
Pillow==9.5.0
